html
  head
    title WorkQuest - Jonny Balls
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600',rel='stylesheet',type='text/css')
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/skeleton.css', rel='stylesheet')
    link(href='css/workquest.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')

    script(src='https://code.jquery.com/jquery-3.2.0.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')

  body
    #nav
      .big-container
        #logo WorkQuest
        .nav-right
          #nav-stats
            span.username j.balls@btopenworld.com

    .row.big-container
      block content

