
<html>
  <head>
    <title>WorkQuest - Jonny Balls</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/skeleton.css" rel="stylesheet"/>
    <link href="css/workquest.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <div id="nav">
      <div class="container">
        <div id="logo">WorkQuest</div>
        <div class="nav-right">
          <div id="nav-stats"><span class="username">Jonny the Destroyer</span><span class="level">17</span></div>
        </div>
      </div>
    </div>
    <div class="row big-container">
      <div class="six columns user-stats">
        <div class="four columns"><img src="images/ascended.jpg"/></div>
        <div class="eight columns">
          <h2>Jonny Balls</h2>
          <h5>Ascended One</h5>
          <p>Your levels of productivity are typically only reached after years of contemplation in tibetan monastaries. Mortals peform pilgramage yearly in order to worship at your feet. They watch in wonder as you code at near super-human speeds, your hands dancing across the keys, creating software of breathtaking beauty.</p>
        </div>
      </div>
      <div class="six columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Level</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Siokhan</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Pedro Santos de Mendonca</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row tasklists">
      <div class="four columns tasklist">
        <div class="tasktitle">Available</div>
        <ul class="tasks">
          <li>Make templates</li>
          <li>Make login</li>
          <li>Download assets</li>
          <li>Win the MHR £2000 award</li>
        </ul>
      </div>
      <div class="four columns tasklist">
        <div class="tasktitle">Current</div>
        <ul class="tasks">
          <li>Move lists</li>
        </ul>
      </div>
      <div class="four columns tasklist">
        <div class="tasktitle">Finished</div>
        <ul class="tasks tasks-finished">
          <li>Line through</li>
        </ul>
      </div>
    </div>
    <script src="/js/workquest.js"></script>
  </body>
</html>