extends base.pug

block content
  h2 Login
  .row
    .six.columns
      form(action='/login')
        .row
          input.u-full-width(type='email', placeholder='email@email.com')
        .row
          input.u-full-width(type='password', placeholder='password')
        .row
          input.u-full-width(type='submit')

