extends base.pug

block content
  h2 Login
  .row
    .six.columns
      form(action='/login', method="post")
        .row
          input.u-full-width(type='email', placeholder='email@email.com',name='user')
        .row
          input.u-full-width(type='password', placeholder='password',name='pass')
        .row
          input.u-full-width.button-primary(type='submit')

