extends base.pug

block content
  .six.columns
    form(action='/singup' method='post')
      .row
        input.u-full-width(type='email', placeholder='email@email.com',name='mail')
      .row
        input.u-full-width(type='email', placeholder='email@email.com',name='mail2')
      .row
        input.u-full-width(type='text', placeholder='John',name='name')
      .row
        input.u-full-width(type='password', placeholder='password',name='pass')
      .row
        input.u-full-width(type='password', placeholder='password',name='pass2')
      .row
        input.u-full-width.button-primary(type='submit')

