//
//
// WorkQuest css
//
//

$nav-height: 5em;

// Colors
$primary-color: #674172;
$primary-color: #674172;
$flat-green: #66CC99;
$flat-darkgreen: #26A65B;
$tasklist-color: #ECF0F1;

#nav {
    height: $nav-height;
    background-color: $primary-color;
    margin-bottom: 4em;

    #logo {
        color: white;
        line-height: $nav-height / 2;
        font-size: 2em;
        font-weight: 300;
        float: left;
    }

    .nav-right {
        float: right;
        color: white;
        line-height: $nav-height;
        text-transform: capitalize;

        #nav-stats>span {
            margin-left: 2em;

        }
    }
}

.user-stats {
    img {
        width: 100%;
    }

    .xp-progress-text {
        width: 100%;
        text-align: center;
    }

    #xp-progress {
        width: 100%;
        height: 0.7em;
        background-color: #BDC3C7;

        .xp-current-progress {
            height: 0.7em;
            background-color: $flat-darkgreen;
            width: 30%;
        }
    }

    .level {
        margin-left: 0.3em;
        font-size: 0.6em;
        color: #999;
        float: right;
        line-height: 2.5em;
    }

    #stats {
        .stat {
            width: 4.5em;
            display: inline-block;
            padding-right: 0.5em;

            img {
                float: left;
                height: 3em;
                width: 3em;
            }

            span {
                float: right;
                line-height: 2em;
                font-size: 1.5em;
            }
        }
    }

}

.tasklists {
    margin-top: 4em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .tasklist {
        text-align: center;

        .tasktitle {
            border: 2em solid $tasklist-color;
            border-radius: 2em 2em 0 0;

            text-transform: uppercase;
            font-weight: bold;
            height: 1em;
            line-height: 1em;
            background-color: $tasklist-color;
        }

        ul.tasks {
            text-align: left;
            list-style: none;
            padding: 0.5em;
            padding-top: 0em;
            padding-bottom: 3em;

            li {
                background-color: white;
                .fa {
                    padding-right: 1em;
                }
                cursor: move;
                margin-bottom: -1px;
                font-size: 1.2em;
                border-bottom: 1px solid #E1E1E1;
                border-top: 1px solid #E1E1E1;
                line-height: 4em;
            }

            &.tasks-finished {
                text-decoration: line-through;
            }
        }

    }
}

.big-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

