html
  head
    title Hello
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/skeleton.css', rel='stylesheet')
    link(href='css/workquest.css', rel='stylesheet')
  body
    #nav
      .container
        #logo WorkQuest
        .nav-right
          #nav-stats
            span.username Jonny the Destroyer
            span.level 17
            span.levelname Ascended one
    
    br
    br
    .container
      form(action='/login')
        .row
          input.u-full-width(type='email', placeholder='email@email.com')
        .row
          input.u-full-width(type='password', placeholder='password')
        .row
          input.u-full-width(type='submit')
